<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Edit profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/styles/editprofile.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script type="text/javascript" src="/scripts/editprofile.js"></script>

</head>
<header>
        <% include ./partial/header.ejs %>
</header>
<body>
    <main class="profileinfo">
        <div id="profile">
            <img class="editprofilephoto" src="https://ksassets.timeincuk.net/wp/uploads/sites/55/2018/08/justin-timberlake-writes-book-920x584.jpg">
            <form id="updateprofile" action="/" method="POST" Content-Type="application/x-www-form-urlencoded">
                <label><h3>Name:</h3></label>
                <input type="name" name="updatename">
                </br>
                <label><h3>Username:</h3></label>
                <input type="username" name="updateusername">
                </br>
                <label><h3>Password:</h3></label>
                <input type="password" name="updatepassword">
                </br>
                <label><h3>Photo</h3></label>
                <input type="photo" name="updatephoto">
                </br>
                </br>
                <input type="submit" value="Update">
            </form>
        </div>
    </main>
</body>
</html>