<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Edit profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/styles/editprofile.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Scripts -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/editprofile.js"></script>

</head>
<header>
        <% include ./partial/header.ejs %>
</header>
<body>
    <main class="container">
        <div class='row'>
            <div class='col-sm-offset-1 col-sm-3'>
                <div class='edit-title'>
                <h1>Edit Profile</h1>
                </div>
            </div>
        </div>

            <form id="updateprofile" action="/editprofile" method="POST" Content-Type="application/x-www-form-urlencoded">
                <div class='user-container'>
                    <div class='row'>
                        <div class='user-data col-sm-2'>
                            <img src="../images/bobross.jpeg" class="col-sm-offset-4 img-rounded profile-img">                        
                            <label class="name"><h3>Name:</h3></label>
                        </div>
                    </div>
                </div>

                <div class='col-sm-10'>
                <div class='row'>
                    <div class='col-sm-offset-5 col-sm-3'>
                    <label class="username"><h3>Username:</h3></label>
                    </div>
                </div>
                </br>

                <div class='row'>
                    <div class='col-sm-offset-5 col-sm-3'>
                        <label><h3>Password:</h3></label>
                        </br>
                        <input type="updatepassword" name="updatepassword">
                    </div>
                </div>
                </br>
                <div class='row'>
                    <div class='col-sm-offset-5 col-sm-9'>    
                        <label class="photo"><h3>Photo URL:</h3></label>
                    </div>
                </div>

                </br>
                </br>

                <div class='row'>
                    <div class='col-sm-offset-5 col-sm-2'>
                        <input type="submit" value="Update">
                    </div>
                </div>
            </div>
            </br>   
        </br>   
            </form>
        </br>  
    </br>  
    </main>
</body>
</html>