<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Home Page</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
      <% include ./partial/header.ejs %>

      <div class='container main-container'>
        
        <div class='row'>
          <div class='col-sm-5'>
            <label>Sort By:</label>
            <form>
              <select name="dropdown">
                <option value='blank'></option>
                <option value='rating'>Rating</option>
                <option value='recent'>Recent</option>
                <option value='likes'>Likes</option>
              </select>
            </form>
          </div>
        </div>

        <div class='row'>
          <div class='container' >

            <div class='col-sm-4'>
                <div class='col-sm-12'>
                  <div class='post-container'>
                    <label>Post1</label>
                  </div>
                </div>
            </div>

            <div class='col-sm-4'>
                <div class='col-sm-12'>
                  <div class='post-container'>
                    <label>Post2</label>
                  </div>
                </div>
            </div>

            <div class='col-sm-4'>
                <div class='col-sm-12'>
                  <div class='post-container'>
                    <label>Post3</label>
                  </div>
                </div>
            </div>

          </div>
        </div>

        <div class='row'>
            <div class='container' >
  
              <div class='col-sm-4'>
                  <div class='col-sm-12'>
                    <div class='post-container'>
                      <label>Post1</label>
                    </div>
                  </div>
              </div>
  
              <div class='col-sm-4'>
                  <div class='col-sm-12'>
                    <div class='post-container'>
                      <label>Post2</label>
                    </div>
                  </div>
              </div>
  
              <div class='col-sm-4'>
                  <div class='col-sm-12'>
                    <div class='post-container'>
                      <label>Post3</label>
                    </div>
                  </div>
              </div>
              
            </div>
          </div>

          <div class='row'>
              <div class='container' >
    
                <div class='col-sm-4'>
                    <div class='col-sm-12'>
                      <div class='post-container'>
                        <label>Post1</label>
                      </div>
                    </div>
                </div>
    
                <div class='col-sm-4'>
                    <div class='col-sm-12'>
                      <div class='post-container'>
                        <label>Post2</label>
                      </div>
                    </div>
                </div>
    
                <div class='col-sm-4'>
                    <div class='col-sm-12'>
                      <div class='post-container'>
                        <label>Post3</label>
                      </div>
                    </div>
                </div>
                
              </div>
            </div>
    
  

      <!-- <p>Bob Ross Things:</p>
      <blockquote>
          <p>
          Every day I learn. Only God can make a tree - but you can paint one. We must be quiet, soft and gentle. Nothing wrong with washing your brush.

          You don't want to kill all your dark areas they are very important. That's why I paint - because I can create the kind of world I want - and I can make this world as happy as I want it. La- da- da- da- dah. Just be happy. Just think about these things in your mind - then bring them into your world. We'll have a super time.
          
          We might as well make some Almighty mountains today as well, what the heck. Don't be bashful drop me a line. Automatically, all of these beautiful, beautiful things will happen. If we're going to have animals around we all have to be concerned about them and take care of them.
          
          God gave you this gift of imagination. Use it. A tree cannot be straight if it has a crooked trunk. You gotta think like a tree. Let's have a nice tree right here. Let your imagination just wonder around when you're doing these things. Everyone is going to see things differently - and that's the way it should be.
          
          I'm a water fanatic. I love water. I really believe that if you practice enough you could paint the 'Mona Lisa' with a two-inch brush. We'll put all the little clouds in and let them dance around and have fun. Isn't it fantastic that you can change your mind and create all these happy things? Talk to trees, look at the birds. Whatever it takes.
          
          Just take out whatever you don't want. It'll change your entire perspective. Let all these things just sort of happen. Here's something that's fun. We'll throw some old gray clouds in here just sneaking around and having fun. Everyone needs a friend. Friends are the most valuable things in the world. The first step to doing anything is to believe you can do it. See it finished in your mind before you ever start.
          
          Do an almighty painting with us. Let's just drop a little Evergreen right here. Get tough with it, get strong. I sincerely wish for you every possible joy life could bring.
        </p>
        <footer>From Bob Ross' website</footer>
      </blockquote> -->
    </div>

      <div class="row">
        <div class="col-sm-12" style="background-color:lavender;">FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER </div>
      </div>
  </body>
</html>
