<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Home Page</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Linking Rating System -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Linking Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="../public/scripts/mouse-hover.js"></script>

    <!-- Including the index-data.js script-->
    <script type="text/javascript" src="/scripts/index-data.js"></script>

  </head>

  <body>
      <% include ./partial/header.ejs %>
    
      <div class='container main-container'>
        
        <div class='row'>
          <div class='col-sm-5'>
            <label>Sort By:</label>
            <form>
              <select name="dropdown">
                <option value='blank'></option>
                <option value='rating'>Rating</option>
                <option value='recent'>Recent</option>
                <option value='likes'>Likes</option>
              </select>
            </form>
          </div>
        </div>

        <div class='row'>
          <div class='body-container'>

            <!-- <article class='col-sm-4'>
                <div class='col-sm-12'>
                  <div class='post-container'>
                    <h2 class='post-title'>Title</h2>
                    <p class='desc-container'>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the 
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and 
                        scrambled it to make a type specimen book.
                    </p>
                    <img src="../styles/bobross.jpeg" class="img-circle post-avatar" alt="icon-boy">
                    <label>Username</label>
                    <footer class="post-footer">
                      <div class='col-sm-2'>
                        <label>Topic</label>
                      </div>
                      <div class='icon-container'>
                        <div class='col-sm-1'>
                          <i class="far fa-heart"></i>
                        </div>
                        <div class='col-sm-1'>
                            <i class="far fa-comment"></i>
                        </div>
                        <div class='col-sm-6'>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                      </div>
                    </footer>
                  </div>
                </div>
              </article>

            <div class='col-sm-4'>
                <div class='col-sm-12'>
                  <div class='post-container'>
                    <label>Post2</label>
                  </div>
                </div>
            </div>

            <div class='col-sm-4'>
                <div class='col-sm-12'>
                  <div class='post-container'>
                    <label>Post3</label>
                  </div>
                </div>
            </div>

          </div>
        </div>

        <div class='row'>
            <div class='container' >
  
              <div class='col-sm-4'>
                  <div class='col-sm-12'>
                    <div class='post-container'>
                      <label>Post1</label>
                    </div>
                  </div>
              </div>
  
              <div class='col-sm-4'>
                  <div class='col-sm-12'>
                    <div class='post-container'>
                      <label>Post2</label>
                    </div>
                  </div>
              </div>
  
              <div class='col-sm-4'>
                  <div class='col-sm-12'>
                    <div class='post-container'>
                      <label>Post3</label>
                    </div>
                  </div>
              </div>
              
            </div>
          </div>

          <div class='row'>
              <div class='container' >
    
                <div class='col-sm-4'>
                    <div class='col-sm-12'>
                      <div class='post-container'>
                        <label>Post1</label>
                      </div>
                    </div>
                </div>
    
                <div class='col-sm-4'>
                    <div class='col-sm-12'>
                      <div class='post-container'>
                        <label>Post2</label>
                      </div>
                    </div>
                </div>
    
                <div class='col-sm-4'>
                    <div class='col-sm-12'>
                      <div class='post-container'>
                        <label>Post3</label>
                      </div>
                    </div>
                </div>
                
              </div>
            </div> -->
      </div>
      </div>
    </br>
  </br>
      <div class="row">
        <div class="col-sm-12" style="background-color:lavender;">Brought to you by Daniel, Michael, and Negar </div>
      </div>
  </body>
</html>
