<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
</head>
<body>
    <form action="/login" method="POST" >
        <label for="LoginUsername"><h4>Username</h4></label>
        <input type="username" name="username" style="width: 300px; height: 20px" required>
      </br>
      </br>
        <input type="submit" value="Login">
      </form>
      </br>
      </br>
</body>
</html>