<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/postresource.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/post_collection_menu.js"></script>
  </head>

  <body>
    <% include ./partial/header.ejs %>
    <main id="post-container">
      <h1>Post your new resource!</h1>
      <form id="post-form" action="/post/resource" method="POST">

      <div class="row post-url">
        <label>URL: </label>
      </br>
        <input type="text" name="rurl">
      </div>

      <div class="row post-title">
        <label>Title:</label>
      </br>
        <input type="text" name="rtitle">
      </div>
      
      <div class='row post-collection'>
          <label>Collection:</label>
        </br>
          <select class="collection-menu" name="dropdown"></select>
      </div>

      <div class="row post-description">
        <label>Description: </label>
      </br>
        <textarea name="rdescription"></textarea>
      </div>

      <div class="row post-topic">
        <label>Topic: </label>
      </br>
        <input name="rtopic">
      </div>

      </br>
        <input class="submit-button" type="submit" value="Post">
    </main>
      
    </form>
  </body>
</html>
