<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bjük resources</title>

    <!-- Bootstrap styling -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/resourceid.css" type="text/css" />
    <link rel="stylesheet" href="/styles/rating.css" type="text/css" />
    <link rel="stylesheet" href="/styles/avg_rating.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/comments.js"></script>
    <script type="text/javascript" src="/scripts/likes.js"></script>
    <script type="text/javascript" src="/scripts/resourcepage.js"></script>
    <!-- <script type="text/javascript" src="/scripts/topic.js"></script>
    <script type="text/javascript" src="/scripts/url.js"></script>  -->
    <script type="text/javascript" src="/scripts/rate.js"></script>

    <% include ./partial/header.ejs %>
  </head>
  <body>
    <main class="body">
    <!-- <h1>Details on Post/resource(comments/likes)</h1> -->
      
    <div class="resourceid-title"></div>
        <button class="edit-resource"><a href="<%=resId%>/edit/post">Edit</a></button>
    <div class="row">
      <form class="like-form" action="<%=resId%>/like/" method="POST">
        <input class="button-like" type="image" src="../images/like.png" alt="Submit" height='20px' width='20px'>
      </form>       
      
      <form class="rating" action="<%=resId%>/rate" method="POST">
        <input class="rate" type="submit" id="star5" name="rating" value="5" /><label for="star5" title="Excellent">5 stars</label>
        <input class="rate" type="submit" id="star4" name="rating" value="4" /><label for="star4" title="Good">4 stars</label>
        <input class="rate" type="submit" id="star3" name="rating" value="3" /><label for="star3" title="Average">3 stars</label>
        <input class="rate" type="submit" id="star2" name="rating" value="2" /><label for="star2" title="Bad">2 stars</label>
        <input class="rate" type="submit" id="star1" name="rating" value="1" /><label for="star1" title="Very-bad">1 star</label>
      </form>      
      
      <div class="avg-rated"></div>
      <br>
    </div>

      
      <div class="resourceid-topic"><h3>Topics:</h3></div>

      <div class="resourceid-url"><h3>URL: </h3></div>
      <br>
          
      <form action="<%=resId%>/comments/" method="POST">
        <h3>Comment: </h3>
        <div class="comment-container">
          <textarea name="rcomment" type="text"></textarea> <br><br>
          <input type="submit" value="comment">
        </div>
      </br>
        <p>All comments:</p>
          <div class="all-comments"></div>    
      </form>
    </main>
  </body>
</html>