<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bjük resources</title>

    <!-- Bootstrap styling -->
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Anton|Barlow|Hind+Madurai" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/resourceid.css" type="text/css" />
    <link rel="stylesheet" href="/styles/rating.css" type="text/css" />
    <link rel="stylesheet" href="/styles/avg_rating.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/comments.js"></script>
    <script type="text/javascript" src="/scripts/likes.js"></script>
    <script type="text/javascript" src="/scripts/resourcepage.js"></script>
    <script type="text/javascript" src="/scripts/rate.js"></script>
 
    <% include ./partial/header.ejs %>
  </head>
  <body>
    <main class="body">
      <div class="whole-container">
        <% if (resourceOwner === user) { %>
        <button class="edit-resource"><a href="<%=resId%>/edit/post">Edit</a>
        </button>
        <% } %>
        <div class="resourceid-title"></div><hr>
        <div class="avg-rated"></div><br>

        <div class="resource-container">  
          <div class="resourceid-topic"><h3>Topics</h3></div>
          <div class="resourceid-url"><h3>URL</h3>
          <button class="goto-button">Visit Resource</button>
          </div><hr>
        </div>
        
        <div class="comment-container">
          <form action="<%=resId%>/comments/" method="POST">
            <h3>Comment</h3>    
              <textarea name="rcomment" type="text"></textarea> <br><br>
              <input class="submit-comment" type="submit" value="comment"><br>
          </form> 
    
          <div class="row">
        <!-- <div class="col-md-12"> -->
            <form class="like-form" action="<%=resId%>/like/" method="POST">
              <div class="like-count"></div>
              <input class="button-like" type="image" src="../images/like.png" alt="Submit" height='20px' width='20px'>
            </form>
  
            <form class="rating" action="<%=resId%>/rate" method="POST">
              <input class="rate" type="submit" id="star5" name="rating" value="5" /><label for="star5" title="Very-bad">5 star</label> 
              <input class="rate" type="submit" id="star4" name="rating" value="4" /><label for="star4" title="Bad">4 stars</label>
              <input class="rate" type="submit" id="star3" name="rating" value="3" /><label for="star3" title="Average">3 stars</label>
              <input class="rate" type="submit" id="star4" name="rating" value="4" /><label for="star4" title="Good">4 stars</label>
              <input class="rate" type="submit" id="star5" name="rating" value="5" /><label for="star5" title="Excellent">5 stars</label>
            </form>      
        <!-- </div> -->
          </div>
        </div> 

        <div class="all-comments">
            <hr>
        </div>
      </div>  
    </main>
  </body>
</html>