<head>
    <!-- Script for toggling plus button -->
    <script type="text/javascript" src="/scripts/toggle.js"></script>
    
    <!-- Font Awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1" crossorigin="anonymous"></script>
    
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/styles/footer.css" type="text/css" />
</head>

<body>
    <footer id="footer-container" class="footer navbar-fixed-bottom">
        <div class="row">
            With Bjük, you can create the textbooks you always wished you could find on the shelf.
            <br>
            Found a learning resource you want to save for later or want to share? Save it to a collection - your textbook to refer back to in the future.
        </div>
    </footer>
</body>