<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Font Awesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1" crossorigin="anonymous"></script>
  
  <!-- Stylesheet -->
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  
</head>


<nav id="navigation" class="container nav" id="nav">

    <div class="row nav-bar">
      <div class='col-sm-offset-1 col-sm-1'>
        <a href="/"><img src="/images/page.png" class="img-rounded logo" alt="icon-boy"></a>
      </div>
      
      <div class='col-sm-3'>
        <a href="/"><h1 class="title">Bjük</h1></a>
      </div>

             
      <% if (user) { %>
        <div class='col-sm-6 login-container'>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle plus-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Profile
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item new-posts" href="/<%= username %>/profile">View profile</a>
              <br>
              <a class="dropdown-item new-posts" href="/<%= username %>/editprofile">Edit profile</a>
            </div>
          </div>

          <form action="/logout" method="POST" >
            <input class="logout" type="submit" value="Log out"></p>
          </form>
          
          <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle plus-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-plus-circle"></i>&nbsp; Add
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item new-posts" href="/post">Add resource</a>
                <br>
                <a class="dropdown-item new-posts" href="/createcollection">Add collection</a>
              </div>
            </div>
        </div>


      <% } else { %>
        <div class='col-sm-5 login-container'>
          <form action="/" method="POST" >
            <input type="username" name="username" placeholder="Username"required>
            <input class="login-button" type="submit" value="Login">
          </form>
           <form action='/register' method='GET'>
            <input class="register-button" type="submit" value="Register">
          </form>
      <% } %>
            </div>
        </div>
        <div class="row search-area">
          <div class='search-container'>
          <form action="/topic" method="GET" >
            <input type="text" class="search-bar" name="search" placeholder="Search for a topic"></textarea>
            <button class="search-submit"><i class="fas fa-search"></i></button>
          </form>
          </div>
        </div>

      </nav>