<head>
    <!-- Script for toggling plus button -->
    <script type="text/javascript" src="/scripts/toggle.js"></script>
    <!-- Font Awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1" crossorigin="anonymous"></script>
  </head>
<nav class="container nav" id="nav">

    <div class="row nav-bar">
        <div class='col-sm-offset-1 col-sm-1'>
        <img src="/images/page.png" class="img-rounded logo" alt="icon-boy">
          </div>
          <div class='col-sm-3'>
            <h1 class="title">Bjük</h1>
          </div>

            <div class='col-sm-7 login-container'>
              <% if (user) { %>
                <p> You are logged in&nbsp;&nbsp;
                  <button type="button"><a href="/<%= username %>/profile">View profile</a></button>
                  &nbsp;&nbsp;
                  <form action="/logout" method="POST" >
                    <input type="submit" value="Log out"></p>
                  </form>
              <% } else { %>
                <form action="/" method="POST" >
                  <label for="LoginUsername"><h4>Username</h4></label>
                  <input type="username" name="username" style="width: 300px; height: 20px" required>
                  <input type="submit" value="Login">
                </form>
              <% } %>
            </div>
        </div>

        <% if (user) { %>
        <div class="row">
            <div class='col-sm-offset-10'>
              <div class='plus-cont'>
                <button class='plus-button'><i class="fas fa-plus-circle"></i></button>
              </div>  
            </div>
        </div>
        <div class="row">
            <section class="new-posts">
              <a href="/post">Add new resource</a>
              <a href="/createcollection">Add new collection</a>
            </section>
      </div>
        <% } else { %>
        <div class="row">
          <div class='col-sm-offset-10'>
            <div class='plus-cont'>
            </div>  
          </div>
        </div>
        <% } %>

        
        
        <div class="row search-area">
          <div class='col-sm-offset-1 search-container'>
          <form action="/topic" method="GET" >
            <input type="text" class="search-bar" name="search" placeholder="Search for a topic"></textarea>
            <button class="search-submit"><i class="fas fa-search"></i></button>
          </form>
          </div>
        </div>

    <!-- <div class='nav-border'></div> -->
</nav>