body {
  margin: 0;
}

#index-container {
  position: absolute;
  margin-top: 14em;
  margin-left: 8em;
  margin-right: 8em;
}

.sort-by {
  margin-bottom: 2em;
}

.post-container {
  border: solid black;
  height: 400px;
  /* margin: 12em 0 0 0; */
  border-radius: 10px 10px 10px 10px;
  opacity: 0.5;
}

.post-container:hover {
  opacity: 1;
}

.post-title {
  margin: 10px 10px 10px 10px;
}

.desc-container {
  width: 250px;
  height: 115px;
  margin: 10px 10px 10px 10px;
}

.icon-container {
  display: flex;
  justify-content: flex-end;
}

.post-footer {
  border-top: solid black;
  position: relative;
  top: 50px;
  margin: 10px 10px 10px 10px;
}

div#index-footer {
  margin-top: 2em;
  margin-bottom: 2em;
  width: 100%
}