header {
    margin-top: 15em;
}

.user-profile {
    font-size: 5em;
    color: #0C36B3;
}

.user-avatar {
    height: 18em;
}

.hover-card {
    opacity: 0.7;

}

.hover-card:hover {
    opacity: 1;
}

.icon-wrapper {
    text-align: center;
}

.icon-container {
    font-size: 20px;
}

.content-collections {
    font-size: 3em;
    color: #4169e1;
}

.content-likes {
    font-size: 3em;
    color: #6E41E2;
}

.collection-title {
    font-weight: 400;
    font-size: 1.3em;
    line-break: auto;
    word-break: keep-all;
    padding: 1em;
}

.card1 {
    border: solid #4169e1;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 2em;
    height: 11em;
    width: 14em;
}

.card2 {
    border: solid #4169e1;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 2em;
    height: 11em;
    width: 14em;

}

.like1 {
    border: solid #6E41E2;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 2em;
    height: 11em;
    width: 14em;

}

.like2 {
    border: solid #6E41E2;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 2em;
    height: 11em;
    width: 14em;
}

.card-topic {
    font-size: 0.9em;
    color: grey;
    padding: 0.7em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}