.body {

}

.whole-container {
    position: absolute;
    margin-top: 15em;
    width: 60em;
    margin-left: 18em;
}

.title-container {
    margin-left: 10em;
    margin-right: 10em
}

.resourceid-title {
    font-family: 'Anton', sans-serif;
}

.resource-container {
    font-family: 'Barlow', sans-serif;
    font-size: 1.5em;
    margin: 0 10em
}

article {
    border: solid 1px;
    border-radius: 10px;
    margin: 10px;
    padding: 1em;
    word-wrap: break-word;
}

.edit-resource {
    margin-top: 1.5em;
    float: right;
    border: none;
    background-color: #4169e1;
    color: white;
    border-radius: 0.5em;
    height: 3em;
    width: 5em;
}

.edit-resource a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;

}

.resourceid-title {
    font-size: 3em;
}

<<<<<<< HEAD
=======

>>>>>>> 50c3bd2cdbfb6a9bc1645473c95ec95dc2495010
h3 {
    font-weight: 500;
    font-size: 1.5em;
}

.resource-container {
    text-align: center;
}

.comment-container {
    text-align: center;
}

.rate-container {
    margin: 1em;
    text-align: center;
}

.comment-container textarea {
    width: 30em;
    height: 8em;
    resize: none;
    border-radius: 10px;
}

.comment-container input {
    background-color: #4169e1;
    border: none;
    color: white;
    border-radius: 10px;
    height: 2.5em;
}

.all-comments {
    margin: 0 10em;
}

/* .created-by {
    display: inline;
    float: right;
} */