article.add-resource {
    float: left;
    margin-left: 2em;
    margin-top: 1.3em;
    margin-right: 1em;
    margin-bottom: 1em;
    border-radius: 8px;
    border: 3px solid navy;
    opacity: 0.7;
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
    color: navy;
    font-family: Arial, Helvetica, sans-serif;
}

article.add-resource .icon {
    font-size: 2em;
}

article.resource {
    float: left;
    width: 25em;
    margin-left: 2em;
    margin-top: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
    border-radius: 8px;
    border: 0.5px solid black;
    opacity: 0.7;
    padding: 10px;
}


article.resource h2 {
    font-size: 19px;
    font-weight: bold;
    color: black;
}

article.resource footer {
    padding: 3px;
}

article.resource .icon {
    float: right;
    color: blue;
    font-size: 1.3em;
    opacity: 0.7;
    padding: 2;
}

article.resource:hover {
    opacity: 1;
}

article.resource:hover .icon {
    opacity: 1;
}