#collections-container {
    position: absolute;
    margin-top: 15em;
    margin-left: 10em;

}

article.add-resource {
    float: left;
    margin-top: 1.3em;
    margin-right: 1em;
    margin-bottom: 1em;
    height: 6.7em;
    border-radius: 8px;
    border: 3px solid #4169e1;
    background-color: #4169e1;
    opacity: 1;
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

article.add-resource .icon {
    font-size: 2em;
}

article.resource {
    float: left;
    width: 20em;
    height: 10em;
    margin-left: 1.5em;
    margin-top: 2em;
    margin-right: 1.5em;
    border-radius: 8px;
    border: 0.2em solid #4169e1;
    opacity: 0.7;
    padding: 1em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.resource-description {
    font-size: 1em;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.resource-title { 
    font-size: 1.8em;
    font-weight: 700;
    color: black;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

article.resource footer {
    padding: 3px;
    font-size: 1.2em;
    font-weight: 600;
}

article.resource .icon {
    float: right;
    color: #4169e1;
    font-size: 1.3em;
    opacity: 0.7;
    padding: 2;
}

article.resource:hover {
    opacity: 1;
}

article.resource:hover .icon {
    opacity: 1;
}